@font-face {
  font-family: "VCR OSD Mono";
  src: url("../../fonts/Accents - Pixel-Font/VCR_OSD_MONO.woff2"),
  url("../../fonts/Accents - Pixel-Font/VCR_OSD_MONO.woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Akira Expanded";
  src: url("../../fonts/Titles - Akira/Akira_Expanded.woff2"),
  url("../../fonts/Titles - Akira/Akira_Expanded.woff");
  font-weight: normal;
  font-style: normal;
}

html,
body {
 // TODO the body text needs to be defined here
}
