@use "./../vars";
.u-layout-grid {
  max-width: 90rem; // 78rem + 2 * 6rem padding
  padding: 0 6rem;
  margin: 0 auto;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(12, 1fr);

  @media screen and (max-width: vars.$breakpoint-xl) {
    padding: 0 4rem;
  }

  @media screen and (max-width: vars.$breakpoint-lg) {
    padding: 0 1.5rem;
  }

  @media screen and (max-width: vars.$breakpoint-md) {
    grid-template-columns: repeat(8, 1fr);
    padding: 0 2rem;
    gap: 1rem;
  }

  @media screen and (max-width: vars.$breakpoint-sm) {
    grid-template-columns: repeat(4, 1fr);
    padding: 0 1rem;
  }
}
.u-layout-constrain {
  max-width: 90rem; // 78rem + 2 * 6rem padding
  padding: 0 6rem;
  margin: 0 auto;
  @media screen and (max-width: vars.$breakpoint-xl) {
    padding: 0 4rem;
  }

  @media screen and (max-width: vars.$breakpoint-lg) {
    padding: 0 1.5rem;
  }

  @media screen and (max-width: vars.$breakpoint-md) {
    padding: 0 2rem;
  }

  @media screen and (max-width: vars.$breakpoint-sm) {
    padding: 0 1rem;
  }
}
